.HeroContainer {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    width: 1440px;
    top: 74px;

    /* background-color: black; */
  }
  .HeroText {
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
  }