.cardSection{
    display:block;
}
.leftButton{
    background:url('../../assets/LeftArrow.png') no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 99;
    cursor:pointer;
}
.rightButton{ 
    background:url('../../assets/RightArrow.png') no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    position: absolute;
    top: 35%;
    right: 0;
    z-index: 99;
    cursor:pointer;
}